.shopTitle {
    margin-top: 50px; 
    text-align: center;
    font-size: 28px; 
  }
  
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
    place-items: center;
  }
  
  .product {
    border-radius: 15px;
    width: 90%;
    max-width: 300px; 
    height: auto;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .product img {
    width: 100%; 
    max-width: 300px; 
  }
  
  .product .description {
    text-align: center;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 5px 10px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .shopTitle {
      font-size: 24px;
    }
  
    .product {
      width: 100%;
      margin: 10px;
    }
  }
  