.shopTitle {
  margin-top: 85px; 
  text-align: center;
  font-size: 2rem; 
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); 
  gap: 20px; 
}

.product {
  border-radius: 15px;
  width: 100%; 
  max-width: 300px; 
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; /* Removed margin to use grid gaps */
}

.product img {
  width: 100%; 
  height: auto; /* Ensure aspect ratio is maintained */
}

.product .description {
  text-align: center;
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding: 5px 10px;
  border-radius: 15px;
}

.addToCartBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .shopTitle {
      font-size: 1.5rem; /* Responsive font size */
  }

  .product {
      margin: 10px; /* Space between products */
  }
}
